image: golang:1.21

stages:
  - test   
  - build  
variables:
  GOPATH: $CI_PROJECT_DIR/.go
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build

default:
  interruptible: true

run-tests:
  stage: test
  script:
    - go fmt ./...      
    - go vet ./...      
    - go test -v ./...  
test-windows-execution:
  stage: test
  image: ubuntu:22.04
  script:
    - export DEBIAN_FRONTEND=noninteractive
    - dpkg --add-architecture i386
    - apt-get update
    - apt-get install -y wine wine32 wine64 xvfb golang-go git
    - CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -buildvcs=false -o test-cutie.exe ./src
    - export WINEDEBUG=-all
    - xvfb-run -a wine test-cutie.exe & sleep 20 && kill $! || true
    - ls -l 
    - if [ -f "cutie-log.db" ]; then echo "✅ SQLite Dosyası Yaratıldı!"; else echo "❌ DB Hatası!"; exit 1; fi
build-linux:
  stage: build
  script:
    - go mod tidy
    - GOOS=linux GOARCH=amd64 go build -o cutie-log-linux ./src
  artifacts:
    paths:
      - cutie-log-linux

build-windows:
  stage: build
  script:
    - go mod tidy
    - CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o cutie-log-win.exe ./src
  artifacts:
    paths:
      - cutie-log-win.exe
