image: golang:1.21

stages:
  - test   
  - build  

run-tests:
  stage: test
  script:
    - go fmt ./...      
    - go vet ./...      
    - go test -v ./...  
test-windows-execution:
  stage: test
  image: ubuntu:22.04
  script:
    - apt-get update && apt-get install -y wine xvfb golang-go
    # 1. Windows için derle
    - CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o test-cutie.exe ./src
    # 2. Wine ile 15 saniye boyunca çalıştır (Veritabanı oluşması için yeterli süre)
    - xvfb-run -a wine test-cutie.exe & sleep 15 && kill $! || true
    # 3. KRİTİK TEST: .db dosyası oluştu mu kontrol et?
    - if [ -f "cutie-log.db" ]; then echo "✅ BAŞARILI! Windows versiyonu SQLite dosyası oluşturabildi."; else echo "❌ HATA! Veritabanı dosyası bulunamadı."; exit 1; fi
    
build-linux:
  stage: build
  script:
    - go mod tidy
    - GOOS=linux GOARCH=amd64 go build -o cutie-log-linux ./src
  artifacts:
    paths:
      - cutie-log-linux

build-windows:
  stage: build
  script:
    - go mod tidy
    - CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o cutie-log-win.exe ./src
  artifacts:
    paths:
      - cutie-log-win.exe
